body{
  background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.currentLang {
	color: white;
	position: absolute;
	bottom: 20px;
	opacity: .85;
	font-size: 20px

}